body {
    font-family: helvetica;
    font-size: 14px;
    max-width: 800px;
    margin: 20 auto;
  }

  button {
    border: 0;
    background: rgb(101, 87, 139);
    padding: 0;
    width: 200px;
    height: 50px;
    left:0px;
    position: relative;
  }
  button span {
    position: center ;
    top: 10px;
    left: 0;
  }

  #console {
    
    width: 100%;
    height: 0%;
    left: 0px ;
    top: 650px;
    
    z-index: 2;
    position: relative;
    text-align:  center;
    
    background-color: rgb(254, 255, 254);
    
    font-size: 2em;
    color: rgb(246, 8, 8);
  }
  
  #cy {
    width: 100%;
    height: 60%;
    left: 0;
    top: 0;
    z-index: 1;
    border: 3px solid #299;
    margin: 0px 0px 0px 0px;
  }
  
  h1 {
    font-size: 2em;
  }
  

  .collapsible {
    background-color: #777;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active, .collapsible:hover {
    background-color: #555;
  }
  .content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
  }

ul {
	  	list-style:disc ;
		}
	
		ul li::before {
	  	
	  	color: rgb(0, 0, 0);
	  	font-weight: bold;
	  	display: inline-block; 
	  	width: 1em;
	  	margin-left: -1em;
		}

.container { 
    height: 200px;
    position: relative;
    border: 3px solid green; 
    
}
          
.center {
    margin: 1px;
    position: relative;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}